<!--The content below is only a placeholder and can be replaced.-->

   
<!-- <button (click)="_toggleSidebar()">Toggle sidebar</button> -->
<br>

<!-- <div class='box'>
    <div class='row'>
      <div class='column'>
        <div class='blue-column'> -->
            <!-- <ng-sidebar-container> -->
                <!-- <a [routerLink]="['/rest']">Movie Rest Server</a> -->
      
                <!-- A sidebar -->
                <!-- <ng-sidebar [(opened)]="_opened">
                  <div class="routerBox">
      
                    <br> -->
                    <!-- List routers here-->
                    <a [routerLink]="['/rest']">Rest Server</a>  |  
                    <a [routerLink]="['/noteKeeperHome']">NoteKeeper</a> |
                    <a [routerLink]="['/users']">Users</a> |  
                    <a [routerLink]="['/posts']">Posts</a> |
                    <a [routerLink]="['/assign2']">Assignment 2</a> |
                    <a [routerLink]="['/weather']">Weather API </a> |
                    <a [routerLink]="['/imageSelector']">Image Selector</a> |
                    <a [routerLink]="['/contacts']">Contacts</a> |
                    
                  <!-- </div> -->
      
      
      
                <!-- </ng-sidebar> -->
      
                <!-- Page content -->      
                <!-- <button (click)="sidebar.open()">Open sidebar</button> -->
      
               <!-- </ng-sidebar-container>       </div> -->
      <!-- </div> -->
      <!-- <div class='column'> -->
        <!-- <div class='green-column'> -->
            <br><hr>
            <router-outlet></router-outlet>
          <!-- </div>
      </div>
    </div>
  </div> -->


<!-- Container for sidebar(s) + page content -->